/* col-md-3 styles */
.col-md-3{
    margin: 2rem 2rem;
    border: 1px solid grey;
    border-radius: 1rem;
    max-width: 200px;
    margin-left: 2rem;
}
img, .quantity{
    width: 100%;
}
.add{
    margin: 1rem 0;
}